<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js" integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js" integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="./css/style.css">
        <title>vue-todolist</title>
    </head>
    <body>
        <div id="app">

            <h1>ToDO List 🍓</h1>

            <input v-model="newTask.text" @keyUp.enter="addTask" type="text" placeholder="Write your task">
            <button @click="addTask">Add Task</button>
            <p v-if="true">{{taskList.length}}Elementi in Lista</p>


            <ul>
                <li v-for="(task, i) in taskList">
                <span :class="getClass(i)">{{task.text}} </span>
                <button @click="changeStatus(i)">CAMBIA STATO</button> 
                <button  @click="removeTask(i)">RIMUOVI</button></li>
            </ul>
            <p v-show="taskList.length < 1">Non sono presenti elementi da visualizzare</p>
        </div>



        <script src='https://unpkg.com/vue@3/dist/vue.global.js'></script>
        <script src="./js/main.js"></script>
    </body>
</html>